.socialBar {
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.socialBar .socialBarIcon {
    font-size: 25px;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
}

.socialBar .socialBarIcon a img:hover {
    transform: scale(1.4);
    transition: all .5s ease;
}

.socialBar .socialBarIcon a img {
    max-width: 40px;
    max-height: 40px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}